@import "tailwindcss";
@plugin "tailwindcss-motion";

* {
  border-radius: box-sizing;
}
body{
  background-color: #ffffff;
}
.bgColor {
  background-color: #693d95;
}
.borderColor {
  border-color: #693d95;
}
.pColor {
  color: #693d95;
}
.pFont {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.sFont{
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* body {
  background-color: transparent;
  background-image: radial-gradient(#000000 1px, white 1px);
  background-size: 30px 30px;
  width: 100%;
  height: 100%;
} */
