@import "tailwindcss";
@plugin "tailwindcss-motion";

* {
  border-radius: box-sizing;
}
body {
  background-color: #ffffff;
}
.pFont {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.sFont {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}